.header {
  grid-area: h;
  background-color: green;
  border-radius: 5px;
   margin-bottom: 5px;
}

.header img{
  width: 9rem;
  margin: 10px;
}

.loginBlock {
  float: right;
}

.loginBlock a{
  color: white;
  margin-right: 20px;
  text-align: center;
}