.nav {
  grid-area: n;
  background-color: burlywood;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.item {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  border: 1px solid #f0b4b4;
  border-radius: 20%;
  background-color: darkgoldenrod;
}

.item.active {
  color: gold;
}