.item {
  color:rgb(105, 231, 21);
}

.item img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  
}

.likesCount {
 font-weight: 800;
 color: rgb(194, 11, 48);
}

.textLikes {
  font-weight: 600;
  color: green;
}